.wrapper {
  max-width: 310px;
  width: 100%;
  height: 100vh;
}

.nav-bar {
  position: fixed;
  max-width: 310px;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 112px;
  background: #000;
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 18px;

  &__login {
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    letter-spacing: 0.01em;
  }

  &__advice {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
    opacity: 0.8;
  }
}

.line {
  width: 100%;
  height: 1px;
  background: #282828;
  margin: 28px 0 38px;
}

.links-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.playlists-block {
  height: calc(100vh - 573px - 112px);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 18px;
  line-height: 23px;
  background: none;
  color: #FFF;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 9px;
    cursor: pointer;
    background: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #686868;
    border: 0px solid #181818;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  
    &:hover {
      background: #63cf6cc7;
    }
}
}