.primary {
  width: 100%;
  font-weight: 800;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #FFFFFF; 
  margin-left: -5px;
}

.secondary {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: left;
  
  letter-spacing: -0.03em;
  
  color: #FFFFFF;
}

.tertiary {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: left;
  
  letter-spacing: -0.03em;
  
  color: #FFFFFF;
}

.center {
  text-align: center;
}