.upload-more {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.03em;
  margin-top: 16px;
  margin-bottom: 26px;
  color: #FFFFFF; 
}

.or {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.025em;
  
  color: #9C9C9C;  
}

.buttons-block {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 32px 0 56px;
}