.menu {
  position: absolute;
  top: 235px;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 253px;
  width: 100%;
  background: #1F1F1F;
  border-radius: 5px;
  opacity: 1;
}