.song-name {
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
  
  color: #FFFFFF;  
}

.singers, .album-name {
  font-weight: 450;
  font-size: 18px;
  line-height: 23px;
  
  color: #B3B3B3;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.active {
  color: #65D36E;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}