.active {
  color: #65D36E;
}

.song-name {
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
  
  color: #FFFFFF;  
}

.singers, .album-name {
  font-weight: 450;
  font-size: 18px;
  line-height: 23px;
  
  color: #B3B3B3;
}