.registration {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
  margin: 0 auto;

  label {
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    margin-bottom: 20px;
  }

  button, a {
    margin-top: 28px;
  }

  a {
    width: auto;
  }
}